.footer-contact{
    text-align:center;
    

}

.footer-contact-btn{
    padding:10px;
    width:20%;
    margin-bottom:30px;
    border-color:#5C5C5C;
    
}

.footer-contact-icons{
    padding:30px;
    background-color:#3B3636;
}

.footer-contact-icons img{
   padding:10px;
   background-color:#3B3636;
}
